<div class="conteudo">

  <div class="faixa-topo">
    <a href="https://www.instagram.com/cicloalves.bikeshop">
      <i class="fa-brands fa-instagram "></i>
    </a> <a href="https://www.facebook.com/cicloalves.bikeshop">
      <i class="fa-brands fa-facebook"></i>
    </a>
  </div>

  <div class="container-cartao">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="outline" class="pesquisa-produtos">
          <mat-label>Pesquisar produtos</mat-label>
          <input matInput><button matSuffix mat-icon-button color="primary"
            aria-label="Example icon button with a home icon">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <div class="slideshow">

    </div>

  </div>

</div>
