@use "@angular/material" as mat;
@use "@angular/material/theming" as theme;
@use "palette-generator" as pg;
@use "sass:map";

@include mat.core();

@mixin makeDarkTheme(
  $primary-palette,
  $accent-palette,
  $warn-palette,
  $background-palette,
  $foreground-palette,
  $typography-font,
  $font-multiplier
) {
  $primary: theme.mat-palette($primary-palette);
  $warn: theme.mat-palette($warn-palette);
  $accent: theme.mat-palette($accent-palette);

  $typography-config: mat.define-typography-config(
    $font-family: $typography-font,
    $headline-1:
      mat.define-typography-level(4.5rem * $font-multiplier, 4.5rem * $font-multiplier, 900, $letter-spacing: -0.05em),
    $headline-2:
      mat.define-typography-level(4rem * $font-multiplier, 4rem * $font-multiplier, 400, $letter-spacing: -0.02em),
    $headline-3:
      mat.define-typography-level(3.6rem * $font-multiplier, 3.6rem * $font-multiplier, 900, $letter-spacing: -0.005em),
    $headline-4: mat.define-typography-level(3.1rem * $font-multiplier, 3.1rem * $font-multiplier, 900),
    $headline-5: mat.define-typography-level(2.6rem * $font-multiplier, 2.6rem * $font-multiplier, 900),
    $headline-6: mat.define-typography-level(2.1rem * $font-multiplier, 2.1rem * $font-multiplier, 800),
    $subtitle-1: mat.define-typography-level(1.6rem * $font-multiplier, 1.6rem * $font-multiplier, 600),
    $body-1: mat.define-typography-level(1rem * $font-multiplier, 1rem * $font-multiplier, 500),
    $body-2: mat.define-typography-level(1rem * $font-multiplier, 1rem * $font-multiplier, 400),
    $subtitle-2: mat.define-typography-level(1rem * $font-multiplier, 1rem * $font-multiplier, 400),
    $caption: mat.define-typography-level(0.8rem * $font-multiplier, 0.8rem * $font-multiplier, 400),
    $button: mat.define-typography-level(0.9rem * $font-multiplier, 0.9rem * $font-multiplier, 600),
  );

  $theme: theme.mat-define-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
      density: 0,
    )
  );

  $background: (
    status-bar: map.get($background-palette, 900),
    app-bar: map.get($background-palette, 900),
    background: map.get($background-palette, 500),
    hover: map.get($foreground-palette, 500),
    card: map.get($background-palette, 800),
    dialog: map.get($background-palette, 800),
    disabled-button: map.get($foreground-palette, 500),
    raised-button: map.get($background-palette, 800),
    focused-button: map.get($background-palette, 200),
    selected-button: map.get($background-palette, 900),
    selected-disabled-button: map.get($background-palette, 800),
    disabled-button-toggle: map.get($background-palette, 900),
    unselected-chip: map.get($background-palette, 700),
    disabled-list-option: map.get($foreground-palette, 500),
    tooltip: map.get($background-palette, 700),
  );

  $foreground: (
    base: map.get($foreground-palette, 500),
    divider: map.get($foreground-palette, 500),
    dividers: map.get($foreground-palette, 500),
    disabled: map.get($foreground-palette, 700),
    disabled-button: map.get($foreground-palette, 800),
    disabled-text: map.get($foreground-palette, 800),
    elevation: map.get($background-palette, 500),
    hint-text: map.get($foreground-palette, 500),
    secondary-text: map.get($foreground-palette, 500),
    icon: map.get($foreground-palette, 500),
    icons: map.get($foreground-palette, 500),
    text: map.get($foreground-palette, 500),
    slider-min: map.get($foreground-palette, 500),
    slider-off: map.get($foreground-palette, 200),
    slider-off-active: map.get($foreground-palette, 200),
  );

  $theme: map.set($theme, color, background, $background);
  $theme: map.set($theme, color, foreground, $foreground);

  @include mat.all-component-themes($theme);
  @include mat.typography-hierarchy($typography-config);
}
